.countdownContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wreathContainer {
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 20rem;
    }
  }

  .countdown {
    display: flex;
    gap: 2rem;

    border: 0.25rem solid;
    padding: 0 3rem 3rem;
    border-radius: 6rem;

    user-select: none;

    color: #ffffff;

    .box {
      width: 8rem;

      .timePart {
        font-size: 6rem;
        text-align: center;
      }

      .text {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .divider {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;

      img {
        width: 7rem;
      }
    }
  }

  .snowmanContainer {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 20rem;
    }
  }
}

// @media only screen and (orientation: portrait) {
//   .countdown {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     width: 20rem;
//     padding: 0 3rem 8rem;

//     .box {
//       width: 13rem;

//       .timePart {
//         font-size: 12rem;
//       }

//       .text {
//         font-size: 2rem;
//         text-align: center;
//         text-transform: uppercase;
//       }
//     }

//     .divider {
//       display: flex;
//       margin-top: 5rem;
//       margin-bottom: 0;

//       img {
//         width: 10rem;
//       }
//     }
//   }
// }
