@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Pacifico", cursive;
}

.container {
  min-height: 100vh;
  background-color: #282c34;

  .countdownContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .wreathContainer {
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 20rem;
      }
    }

    .snowmanContainer {
      position: absolute;
      bottom: 0;
      right: 0;

      img {
        width: 20rem;
      }
    }
  }
}
